manager.example.com {
    reverse_proxy 127.0.0.1:14325
}

s3.example.com {
    reverse_proxy 127.0.0.1:14326 {
        flush_interval -1
    }
}

dav.example.com {
    reverse_proxy 127.0.0.1:14327 {
        flush_interval -1
    }
}

ai.example.com {
    reverse_proxy 127.0.0.1:14328 {
        flush_interval -1
    }
}
